/*******Partie general****/
#Bloc_de_Page
{
    max-width: 100%;
    margin: auto;
}

html, body
{
    overflow-x: hidden;
}

.footer
{
   max-width: 100%;
}

/*******Partie Navi****/
.Bord-Lien-Menu:active
{
    border-top: 1px solid #0065FC;
    cursor: pointer;
}

#Flex-Between 
{
    width: 80%;
}

/*******Partie Recherche****/
.Search-mobile
{
    display: none;
}

/*******Partie Filtre****/
/* .Filtre-colone-Icone, .Margin-clone-Icone
{
    display: ;
} */

.Filtre-colone-Icone
{
    display: flex;
    flex-direction: row;
}

.Filtre-Flex-Espace
{
    width: 80%;
}

.FiltreTitre-Div
{
    margin-right: 15px;
}

.filtre-Icone-Texte
{
    margin-right: 15px;
}

/*******Partie Heberg****/
.Decalage-Titre
{
    margin-left: 40px;
}

#Boite-Hebergement
{
    width: 80%;
}

/*******Partie Populaire****/
.Boite-Display
{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
}

#Boite-Pop
{
    height: 275px;
    width: 80%;
    margin-top: 50px;
}

.Pop-Flex-Around
{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: -15px;
}

.Margin-Titre-Pop
{
    margin-left: 40px;
}

.Margin-IconeEvol-Pop
{
    margin-right: 40px;
}

.Support-Flex
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 15px;
}

.BoiteSupport-Pop-Img > div:nth-child(1)
{
    width: 40%;
}

.BoiteSupport-Pop-Img > div:nth-child(2)
{
    width: 60%;
    margin-left: 5px;
}

.BoiteSupport-Pop-Img
{
    width: 30%;
    display: flex;
    flex-direction: row;
}

.img-hebergements-Pop
{
    object-fit: cover;
    width: 90%;
}

.Position-Star-Pop
{
    margin-top: 30px;
}

.Position-Star2-Pop
{
    margin-top: 30px;
}

.Position-Star3-Pop
{
    margin-top: 30px;
}

.Pop-margin
{
    margin-top: 0px;
}

.Decal-Afficher
{
    margin-left: 40px;
}

/*******Partie Activites****/
.Parent-Div
{
    max-width:  50%;
}

.Parent-Div > div:nth-child(1)
{
    width:  170px;
}

.img-Activites
{
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.Support-Img-Activite
{
    width: 175px;
    position: absolute;
    margin-left: 1px;
}

.Activites-Flex
{
    width: 80%;
}

/*******Partie Footer****/
.Footer-Flex
{
   width: 80%;
}